<body style="width: 100%;background-color: white;margin: 0;">
  <table style="width: 100%;background-color: #0fcda1; height: 100%;margin: 0 0px;margin-right: 20px;">
  <tr>
    <td> 
      <h3 style="color: white;text-align: center;font-weight: 300px;">Thank you for ordering the <%=@product.name%> </h3>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color: white;text-align: center;font-weight: 300px;">Your <%=@product.name%> should arrive between 2 to 3 working days. </p>
    </td>
  </tr>
  </table>
</body>