<div class="col-md-4">
  <%= link_to "Order Number #{order["id"]}", order, class: 'h1' %>
  <p>User Number <%= order["user_id"] %></p>
  <p>Product Number <%= order["product_id"] %></p>
  <p>£ <%= order["total"] %></p>
</div>