<div class="container">
<h1> Orders </h1>

<!--<div class="row">
  <%= link_to 'New Order', new_order_path, class: 'btn btn-primary btn-lg pull-right' %>
</div> -->
<br>

<div class="row">
  <%= render @orders %>
</div>

</div>