// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#paginating {
	margin-bottom: 50px;
}

#new_comment {
	font-size: 1.2em;
	color: orange;
}