
<div class="product-reviews">
    <% @comments.each do |comment| %>
            <hr style="width: 100%">
            <h3>Reviews:</h3>
            <p><%= comment.user.first_name %> <small></small></p></br><em><%= "#{time_ago_in_words(comment.created_at)} ago" %></em></small>

            <div class="rated" data-score="<%= comment.rating %>"></div>

        </div>
    <% end %>
</div>

